:root {
	--font-family-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
		sans-serif;

	--font-family-serif: Iowan Old Style, Apple Garamond, Baskerville,
		Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
		Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;

	--font-base-size: 16px;
	--line-height: 1.75rem;
	--heading-font-family: var(--font-family-sans);
	--body-font-family: var(--font-family-sans);

	--font-size-1: 0.6875rem;
	--font-size-2: 0.8125rem;
	--font-size-3: 0.9375rem;
	--font-size-4: 1.0625rem;
	--font-size-5: 1.1875rem;
	--font-size-6: 1.4375rem;

	--font-weight-1: 200;
	--font-weight-2: 300;
	--font-weight-3: 400;
	--font-weight-4: 500;
	--font-weight-5: 600;
}
